{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "minify": {
      "compress": {
        "unused": true
      },
      "mangle": false
    },
    "baseUrl": "./",
    "paths": {
      "~/*": [
        "src/*"
      ],
      "src/*": [
        "src/*"
      ]
    }
  },
  "minify": false
}